@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;  
}

main {
    overflow: hidden;
}

h1 {
    font-size: 55pt;
}

h2 {
    font-size: 35pt;
}

h3 {
    font-size: 23pt;
}

p {
    font-size: 15pt;
}

/* Navigasi Bar */
header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

header nav .dropdown {
    display: none;
}

header nav .open-dropdown {
    background-color: #006E7F;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: .5rem 0;
    margin-top: 1rem;
    border-radius: 10px;
    align-items: center;
    gap: .5rem;
}

header nav .open-dropdown li a {
    width: 180px;
    display: flex;
    border-radius: 0;
}

header nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 2rem;
}

header nav ul li a {
    font-size: 14pt;
    font-weight: bold;
    padding: .5rem 1.2rem .5rem 1.2rem;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    transition: all .2s ease-in-out;
}

header .logo {
    width: 100px;
    height: 100px;
    background-color: #006E7F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
}

header .logo img {
    height: 90px;
    width: 90px;
}

header nav ul li:hover a {
    background-color: #006E7F;
    color: white;
}

header nav .open-dropdown li:hover a {
    background-color: #A1CCD1;
}

/* All Title */
article .title {
    text-align: center;
    display: grid;
    gap: .5rem;
}

/* Introduction */
article.intro {
    width: 100%;
    margin-top: 6.3rem;
}

article.intro .intro-myself {
    padding: 4.5rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

article.intro .intro-myself p {
    font-size: 17pt;
}

article.intro .img-intro img {
    width: 100%;
}

/* Profile */
article.profile {
    width: 100%;
    padding: 10rem 4rem 5rem 4rem;
    display: grid;
    grid-template-columns: (1, 2fr);
    gap: 8rem;
    justify-items: center;
}

article.profile .profile-card {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1.5rem;
    margin-left: 2rem;
}

article.profile .profile-card .pcard {
    display: grid;
    gap: 1rem;
}

article.profile .profile-card p {
    line-height: 2rem;
}

article.profile .profile-card button {
    width: max-content;
    font-size: 14pt;
    border-style: none;
    background-color: white;
    padding: 4px 7px 4px 5px;
    margin-left: -5px;
}

article.profile .profile-card button:hover {
    background-color: #006E7F;
    color: white;
}

/* Skill */
article.skill {
    width: 100%;
    background-color: #e5e4e2;
    padding: 5rem 4rem 5rem 4rem;  
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 8rem;
}

article.skill .skill-bar {
    display: grid;
    grid-template-areas: 
        'c1 c4'
        'c2 c5'
        'c3 c6';
    gap: 1.5rem 10rem;
    justify-content: center;
}   

article.skill .skill-bar .c1, .c2, .c3, .c4, .c5, .c6 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

article.skill .skill-bar .c1 {
    grid-area: c1;
}

article.skill .skill-bar .c2 {
    grid-area: c2;
}

article.skill .skill-bar .c3 {
    grid-area: c3;
}

article.skill .skill-bar .c4 {
    grid-area: c4;
}

article.skill .skill-bar .c5 {
    grid-area: c5;
}

article.skill .skill-bar .c6 {
    grid-area: c6;
}

article.skill .skill-bar .progress {
    width: 450px;
    background-color: white;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #666666;
}

article.skill .html, .css, .js, .database, .php, .figma {
    background-color: #025464;
    padding: 6px 0 6px 10px;
    border-radius: 20px;
}

article.skill .html {
    width: 80%;
}

article.skill .js {
    width: 40%;
}

article.skill .php {
    width: 40%;
}

article.skill .css {
    width: 70%;
}

article.skill .database {
    width: 85%;
}

article.skill .figma {
    width: 92%;
}

/* My Content */
article.my-content {
    width: 100%;
    background-color: #e5e4e2;
    padding: 5rem 2rem 5rem 2rem;  
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 8rem;
}

article.my-content .main-content {
    width: 100%;
    display: grid;
    grid-template-areas: 
        'ccard1 ccard5'
        'ccard2 ccard6'
        'ccard3 ccard7'
        'ccard4 ccard8';
    justify-content: center;
    gap: 2.5rem;
}

article.my-content .ccard1, .ccard2, .ccard3, .ccard4, .ccard5, .ccard6, .ccard7, .ccard8 {
    height: 170px;
    background-color: #A1CCD1;
    display: flex;
    border-radius: 8px;
    gap: 20px;
    box-shadow: 1px 1px 5px #666666;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    z-index: 0;
}

article.my-content .main-card {
    width: 80%;
    display: flex;
    padding: 30px 0 0 25px;
    flex-direction: column;
    line-height: 1.8rem;
    gap: 1.2rem;
}

article.my-content .image-card {
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

article.my-content .main-content a {
    font-size: 13pt;
    text-decoration: none;
    color: black;
}

article.my-content .main-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

article.my-content .ccard1 {
    grid-area: ccard1;
}

article.my-content .ccard2 {
    grid-area: ccard2;
}

article.my-content .ccard3 {
    grid-area: ccard3;
}

article.my-content .ccard4 {
    grid-area: ccard4;
}

article.my-content .ccard5 {
    grid-area: ccard5;
}

article.my-content .ccard6 {
    grid-area: ccard6;
}

article.my-content .ccard7 {
    grid-area: ccard7;
}

article.my-content .ccard8 {
    grid-area: ccard8;
}

article.my-content .ccard1:hover, .ccard2:hover, .ccard3:hover, .ccard4:hover, .ccard5:hover, .ccard6:hover, .ccard7:hover, .ccard8:hover {
    animation-timing-function: ease;
    transform: translateY(-5px);
}

/* Aside */
aside {
    position: absolute;
    right: 0;
    top: 20%;
}

aside ul {
    width: 90px;
    height: 365px;
    background-color: #006E7F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    border-radius: 60px;
}

aside ul li {
    display: flex;
    background-color: white;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    list-style-type: none;
    cursor: pointer;
}

aside ul li.ig {
    font-size: 25pt;
    background: radial-gradient(circle farthest-corner at 35% 90%, #FFDD55, transparent 50%), 
    radial-gradient(circle farthest-corner at 0 140%, #FFDD55, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 0, #C837AB, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 60% -20%, #C837AB, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #FF543E 70%, #FFDD55 100%);
    color: white;
}

aside ul li.fb {
    font-size: 25pt;
    background-color: #3474b3;
}

aside ul li.db {
    font-size: 28pt;
    background-color: #E54ED6;
}

aside ul li.dc {
    font-size: 20pt;
    background-color: #5865F2;
}

aside ul li.git {
    font-size: 30pt;
    background-color: black;
}

aside ul li i {
    color: white;
}

aside ul li:hover {
    width: 65px;
    height: 65px;
    transition: all .1s ease-in;
}

/* Footer */
footer {
    padding: 2rem 0 0 0;
}

footer .copyright{
    font-size: 15pt;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

footer .copyright i {
    font-size: 17pt;
    margin-top: 1px;
}

footer img {
    margin-top: 1rem;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    article.profile .profile-card {
        width: 100%;
    }

    article .skill-bar {
        display: flex!important;
        flex-direction: column;
        align-items: center;
    }

    article.skill .skill-bar .c1, .c2, .c3, .c4, .c5, .c6 {
        width: 90%;
        display: flex;
    }

    article.skill .skill-bar .progress {
        width: 100%;
    }

    article.my-content .main-card {
        line-height: 1.5rem;
    }

    aside {
        display: flex!important;
        margin-top: 14vmin;
    }   

    aside ul {
        width: 80px;
        height: 320px;
        gap: .5rem;
    }

    aside ul li {
        width: 50px;
        height: 50px;
    }

    aside ul li:hover {
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 22pt;
    }

    h2 {
        font-size: 18pt;
    }

    h3 {
        font-size: 12pt;
    }

    p {
        font-size: 8pt!important;
    }

    header {
        height: 60px;
    }

    header nav ul {
        gap: .1rem;
    }

    header nav ul li a {
        padding: .3rem .5rem .3rem .5rem;
        font-size: 7pt;
    }

    header .logo {
        width: 80px;
        height: 80px;
    }
    
    header .logo img {
        height: 60px;
        width: 60px;
    }

    article.intro {
        margin-top: 3.7rem;
    }

    article.intro .intro-myself {
        align-items: center;
        padding: 3rem 0;
        gap: .5rem;
    }

    article.intro .intro-myself p {
        width: 75%;
        font-size: 7pt!important;
    }

    article.intro .intro-myself p br {
        display: none;
    }

    article.profile {
        padding: 4rem 3rem 3rem 3rem;
        gap: 3rem;
    }

    article.profile .profile-card {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    article.profile .profile-card .pcard {
        gap: .5rem;
    }

    article.profile .profile-card p {
        line-height: 1.5rem;
    }

    article.profile .profile-card button {
        font-size: 8pt;
    }

    article.skill {
        padding: 3rem 3rem 3rem 3rem;  
        gap: 3rem;
    }

    article.skill .html, .css, .js, .database, .php, .figma {
        font-size: 10pt;
        padding: 3px 0 3px 10px;
    }

    article.my-content {
        padding: 3rem 1.2rem 3rem 1.2rem;  
        gap: 3rem;
    }

    article.my-content .main-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    article.my-content .ccard1, .ccard2, .ccard3, .ccard4, .ccard5, .ccard6, .ccard7, .ccard8 {
        height: 135px;
    }

    article.my-content .main-card {
        padding: 25px 0 0 25px;
        line-height: 1.3rem;
        gap: .5rem;
    }

    article.my-content .main-card h3 {
        font-size: 12pt;
    }

    article.my-content .main-content img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    aside {
        top: 0;
        margin-top: 105px;
    } 

    aside ul {
        width: 35px;
        height: 135px;
        gap: .4rem;
    }

    aside ul li {
        width: 18px;
        height: 18px;
    }
    
    aside ul li i {
        font-size: 8pt;
    }

    aside ul li.db i {
        font-size: 10pt;
    }

    aside ul li.dc i {
        font-size: 8pt;
    }
    
    aside ul li.git i {
        font-size: 10pt;
    }

    aside ul li:hover {
        width: 25px;
        height: 25px;
    }

    footer .copyright{
        gap: .15rem;
    }

    footer .copyright i {
        font-size: 10pt;
    }
}